name: "Image: base"

on:
  pull_request:
    paths:
      - 'images/base/**'
      - '.github/workflows/image-base.yml'
      - '.github/workflows/build-image.yml'
  push:
    branches:
      - master
    paths:
      - 'images/base/**'
      - '.github/workflows/image-base.yml'
      - '.github/workflows/build-image.yml'
  release:
    types: [published]

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    with:
      variant: base
      context: images/base
    permissions:
      actions: read
      contents: write
      packages: write
      id-token: write
