name: "Image: systemd"

on:
  pull_request:
    paths:
      - 'images/systemd/**'
      - '.github/workflows/image-systemd.yml'
      - '.github/workflows/build-image.yml'
  push:
    branches:
      - master
    paths:
      - 'images/systemd/**'
      - '.github/workflows/image-systemd.yml'
      - '.github/workflows/build-image.yml'
  release:
    types: [published]

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    with:
      variant: systemd
      context: images/systemd
      base_variant: base
    permissions:
      actions: read
      contents: write
      packages: write
      id-token: write
